VITE_SUPABASE_URL=https://rxotlhxqxssrpedogmka.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4b3RsaHhxeHNzcnBlZG9nbWthIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMDM0MDEsImV4cCI6MjA5Njg3OTQwMX0.clgMh5ocaP8YhJjcQJwFI_KfrR-RBKxbZQCUd6FnvAk
GEMINI_API_KEY=
PORT=5000
FRONTEND_ORIGIN=http://localhost:3000
